.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.profile-card {
  width: 50%;
  border-style: solid;
}

.profile-heading {
  display: flex;
  align-items: center;
  padding: 0px;
  justify-content: space-around;
  border-bottom: solid;
}

.profile-pic {
  height: 100px;
}

.skill-bar {
  background-color: #2BC128;
  border: 1px solid;
}

.Tab {
  background-color: #C8FFC7;
  border-color: #C8FFC7;
  border-radius: 100px;
  padding: 10px
}

.tab-container {
  padding: 5px;
}

.profile-card-tabs {
  display: flex;
  padding: 10px
}

.trophies {
  display: flex;
  justify-content: space-around;
}

.header {
  background-color: #3424C6;
  display: flex;
  justify-content: space-evenly;
  color: white
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
