@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --primary: #3424C6;
  --gray: #F0F2F6;
  --light-green: #C8FFC7;
  --medium-green: #2BC128;
  --dark-green: #0D7D0B;
  --font-family: 'DM Sans', sans-serif;
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 56px;
  /* or 122% */
  letter-spacing: -0.05em;
}

h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
  /* identical to box height, or 118% */
  letter-spacing: -0.03em;
}

h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  /* identical to box height, or 145% */
  letter-spacing: -0.01em;
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  /* or 144% */
}

p.bold {
  font-weight: 700;
}

body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
